@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Jost:wght@200&family=Roboto+Condensed&display=swap');

* {
  margin: 0%;
  padding: 0%;
   font-family: 'Roboto Condensed', sans-serif;

}


/* nav de  el form */
body {
   background-image: url(../img/light-blue-soft-background-with-diagonal-lines-free-vector\ 2.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}


/* formulario joni */
.froms {
  background: rgba(42, 75, 99, 0.4);
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  align-items: center;
  justify-content: space-around;
  width: 50%;
  margin: 5%;
  padding: 6px;
 border-radius: 10%;
 box-shadow: -8px 11px 9px 4px rgba(7,17,27,0.4);
 -webkit-box-shadow: -8px 11px 9px 4px rgba(7,17,27,0.4);
 -moz-box-shadow: -8px 11px 9px 4px rgba(7,17,27,0.4);
}


input,
textarea {
  width: 70%;
  height: 39px;
  border: 1px solid #000000;
  text-align: center;
  color: #000000;
  background: rgba(217, 217, 217, 1);
  font-family: 'Roboto Condensed', sans-serif;
  border-radius: 65px 65px 65px 65px / 60px 60px 60px 60px;
}

textarea {
  text-align: center center;
  height:auto;
  width: 70%;
  resize: none;
}

.selectores {
  border-radius: 65px 65px 65px 65px / 60px 60px 60px 60px;
  display: block;
  background-color: transparent;
  color: #000000;
  width: 70%;
  border: 1px solid #000000;
  text-align: center;
  font-family: 'Roboto Condensed';
    font-size: large;
}

.btn {
  background-color:transparent;
  border: 2px solid #000000;
  border-radius: 30%;
  padding: 2px;
  cursor: pointer;
  width: 10%;
}
.btn:hover , input:hover , textarea:hover{
  background-color: #ffffff;
  color: #000000;
}

.caja {
  background: rgba(47, 113, 101, 0.4);
  display: flex;
  align-items: center;
  justify-content: space-around;
  align-content: center;
flex-direction: row;
  height: 30%;
  width: 100%;
  margin:0%;
}

.cajauno {
  width: auto;
  margin: 3%;
}

h2 {
  margin: 1%;
  padding: 2%;
 
}

.cajados {
  background-color: transparent;
  border-radius: 100%;
  margin: 3%;

}
.cajados img{
  box-shadow: -8px 11px 9px 4px rgba(7,17,27,0.4);
  -webkit-box-shadow: -8px 11px 9px 4px rgba(7,17,27,0.4);
  -moz-box-shadow: -8px 11px 9px 4px rgba(7,17,27,0.4);
}

main{
  display: flex;
  color: #ffffff;
  flex-direction: row-reverse;
}
/*johnCH estuvo aqui*/

footer {
  color: black;
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  background-color: white;
  text-align: center;
  height: 60px;
 
}
.finfooter{
  color: black;
}